<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.uw.barngh.cupoftea">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
                android:name=".StartActivity"
                android:screenOrientation="portrait"
        >
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NameActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".AgeActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity
                android:name=".ProfilePictureActivity"
                android:screenOrientation="portrait"
        >
        </activity>
         <activity android:name=".GenderInterestActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".InterestAcitivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity
                android:name=".PersonListActivity"
                android:label="@string/title_person_list"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".PersonDetailActivity"
                android:label="@string/title_person_detail"
                android:parentActivityName=".PersonListActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="edu.uw.barngh.cupoftea.PersonListActivity"/>
        </activity>
        <activity android:name=".SummaryActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".UploadActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".MessagePreferenceActivity"
                  android:screenOrientation="portrait"
        >
        </activity>
        <activity android:name=".ProfileActivity"

        >
        </activity>
    </application>

</manifest>