<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.uw.barngh.cupoftea">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NameActivity">
        </activity>
        <activity android:name=".AgeActivity">
        </activity>
        <activity android:name=".ProfilePictureActivity">
        </activity>
        <activity
                android:name=".GenderActivity">
        </activity>
        <activity
                android:name=".GenderInterestActivity">
        </activity>
        <activity android:name=".InterestAcitivity">
        </activity>
        <activity android:name=".SummaryActivity">
        </activity>
    </application>

</manifest>